<!doctype html>
{% load static %}
{% for setting in settings %}
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {{ setting.title }} </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/animated-headline.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                	{% for setting in settings %}
                    <img src="{{ setting.icon.url }}" alt="">
                	{% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="{{ setting.icon.url }}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li ><a href="/about">About</a></li>
                                            <!--<li><a href="#">Services</a></li>-->
                                            <li><a href="/product">Products</a></li>
                                            <!--<li><a href="#">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                </ul>
                                            </li>-->
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="/contact" class="btn header-btn">Make a Quote</a>
                                </div>
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
{% block content %}

{% endblock %}

<footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="{% static 'main/img/gallery/footer_bg.png' %}">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{{ setting.icon.url }}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">{{ setting.footer }}</p>
                                    </div>
                                </div>
                                <div class="footer-number">
                                    <h4><span>+234 </span>{{ setting.phone }}</h4>
                                    <p>{{ setting.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Location </h4>
                                    <ul>
                                        <li><a href="#">Advanced</a></li>
                                        <li><a href="#"> Management</a></li>
                                        <li><a href="#">Corporate</a></li>
                                        <li><a href="#">Customer</a></li>
                                        <li><a href="#">Information</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Explore</h4>
                                    <ul>
                                        
                                        <li><a href="/about">About</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="/product">Products</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Location</h4>
                                    <div class="footer-pera">
                                        <p class="info1">Subscribe now to get daily updates</p>
                                    </div>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">Send</button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  Powered by <a href="https://nigtech.net" target="_blank"> NigTech </a><a style="color: #212529" href="https://colorlib.com" target="_blank"></a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="{{ seting.twitter }}"><i class="fab fa-twitter"></i></a>
                                <a href="{{ setting.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="{{ setting.instagram }}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    {% endfor %}
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{% static 'main/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'main/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'main/js/popper.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'main/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'main/js/wow.min.js' %}"></script>
    <script src="{% static 'main/js/animated.headline.js' %}"></script>
    <script src="{% static 'main/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'main/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.sticky.js' %}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'main/js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'main/js/contact.js' %}"></script>
    <script src="{% static 'main/js/jquery.form.js' %}"></script>
    <script src="{% static 'main/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'main/js/mail-script.js' %}"></script>
    <script src="{% static 'main/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->    
    <script src="{% static 'main/js/plugins.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    
    </body>
</html>