{% extends 'main/base.html' %}

{% load static %}
{% block content %}
    <main>
        <!--? Hero Start -->
        {% for slider in sliders %}
        <div class="slider-area2" style="background-image:url({{ slider.image.url }}); background-repeat:no-repeat; background-size:cover;">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Our Product</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Hero End -->
                <!--? Blog Area Start -->
        <section class="home-blog-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <div class="section-tittle text-center mb-90">
                            <span>All Products</span>
                            <h2>Our Accessories</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="{{ product.image.url }}" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>Price</span>
                                        <p>{{ product.price}}</p>
                                    </div>
                                </div>
                                <div class="blog-cap" style="background-color: #d19f68; color: #fff">
                                    <p style="color: #fff">| {{ product.title }}</p>
                                    <h5 style="color: #fff"><a href="blog_details.html" >{{product.description}}</a></h5>
                                    <a href="/product" class="more-btn">View More »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    {% endblock %}